$color-main: #f7f1e3;
$color-light: #fff;
$color-background: #ff793f;

*, *::before, *::after {
	box-sizing: border-box;
}

body { 
    margin: 0; 
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7; 
}

p { color: green; }

.container {
    max-width: 1140px; 
    margin: 0 auto; 
    padding: 0 20px; 
    color: #ff793f;
}

section {
    padding: 108px 0;
}

/* Splash */

.splash {
    height: 100vh; 
    position: relative; 
    background-image: url('https://i.postimg.cc/5NncQhx5/pexels-kevinbidwell-1373100.jpg');
    background-position: center center; 
    background-size: cover; 
    background-attachment: fixed; 
    i {
        font-size: 30px;
        background: $color-background;
        width: 60px; 
        height: 60px; 
        line-height: 60px;
        color: $color-light;
        border-radius: 50%;
    }
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.page-title { 
    color: $color-light;
    font-size: 60px;
    margin: 48px 0 0 0;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        bottom: -24px;
        left: 50%; 
        width: 100px; 
        height: 10px;
        transform: translateX(-50%);
        background: $color-main;
    }
}

.page-subtitle {
    margin: 48px 0 0 0;
    font-size: 18px;
    color: $color-light;
}

/* Intro */

.intro {
    background: $color-light;
    p {
        width: 70%;
        margin: 0 auto; 
        padding: 48px 0;
        font-size: 24px; 
        border-top: solid 1px $color-background;
        border-bottom: solid 1px $color-background;
    }
}